body {
    background: #a76f6f;
    color: #090909;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}

.contanier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 20px 0;
}

button {
    background: #ffffff;
    color: #000000;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.webcam-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#webcam {
    width: 400px;
    height: 400px;
    background: #ffffff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.bar-container {
    height: 2.7rem;
  }
  .dinosaur-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(117, 204, 84, 0.2);
  }
  .dinosaur-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(117, 204, 84, 1);
  }
  .deer-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(117, 204, 84, 0.2);
  }
  .deer-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(117, 204, 84, 1);
  }
  .dog-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(27, 175, 234, 0.2);
  }
  .dog-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(27, 175, 234, 1);
  }
  .cat-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(251, 176, 59, 0.2);
  }
  .cat-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(251, 176, 59, 1);
  }
  .bear-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(195, 140, 102, 0.2);
  }
  .bear-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(195, 140, 102, 1);
  }
  .fox-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(49, 132, 155, 0.2);
  }
  .fox-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(49, 132, 155, 1);
  }
  .rabbit-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(235, 166, 190, 0.2);
  }
  .rabbit-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(235, 166, 190, 1);
  }
  .percent-text {
    font-size: 1rem;
    color: #ffffff;
  }
  .animal-label {
      width: 20%;
      text-align: left;
      height: 2rem;
  }
  #label-container {
      width: 400px;
      margin: 0 auto;
  }
  #label-container-ex {
    width: 400px;
    margin: 0 auto;
}
  .result-message {
      font-size: 2rem;
  }
  
  
  .animal-explain {
      font-size: 1.5rem;
  }
  .dinosaur-animal-title {
      color: #3ba363;
  }
  .dinosaur-animal-celeb {
      color: #3ba363;
      font-size: 1.2rem;
  }
  .deer-animal-title {
      color: #3ba363;
  }
  .deer-animal-celeb {
      color: #3ba363;
      font-size: 1.2rem;
  }
  .cat-animal-title {
      color: #ff6c0a;
  }
  .cat-animal-celeb {
      color: #ff6c0a;
      font-size: 1.2rem;
  }
  .dog-animal-title {
      color: #548dd4;
  }
  .dog-animal-celeb {
      color: #548dd4;
      font-size: 1.2rem;
  }
  .rabbit-animal-title {
      color: #e56995;
  }
  .rabbit-animal-celeb {
      color: #e56995;
      font-size: 1.2rem;
  }
  .bear-animal-title {
      color: #9b6b43;
  }
  .bear-animal-celeb {
      color: #9b6b43;
      font-size: 1.2rem;
  }
  .fox-animal-title {
      color: #31849b;
  }
  .fox-animal-celeb {
      color: #31849b;
      font-size: 1.2rem;
  }
  
  /* gender */
  input#gender {
    display: none;
  }
  
  label {
    cursor: pointer;
    display: inline-block;
    width: 90px;
    height: 41px;
    box-shadow: 0 0 0 8px #e5e9ea inset;
    border-radius: 30px;
    position: relative;
  }